@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(#57648C,#C2B4D6);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo-img {
    width: 80px;
    height: auto; 
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active{
    background-color: #fff !important;
    color: #57648C !important;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bucket {
    position: relative;
    top: 100px;
    width: 100%;
}

.bucket-image {
    width: 100%;
}

.popcorn {
    position: fixed;
    top: 70%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    max-width: 100%; /* Adjust the maximum width of the popcorn */
    width: 10%; /* Set the initial width of the popcorn */
    z-index: 1;
}
#text{
    position: absolute;
    color: #934A5F;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 2;
}