@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Lucky Bones';
    src: url('../../Luckybones-Bold.ttf') format('truetype'); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.section1 {
    min-height: 100vh;
    background-image: url('/TW-2B3MaximiucLacatus/public/images/background.png');
    background-size: cover;
}

.navbar {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo-img {
    width: 80px;
    height: auto; 
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li,
.dropdown_menu li {
    list-style: none;
    margin-left: 20px;
    z-index: 1000;
}
.navbar ul li a,
.dropdown_menu li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    z-index: 1001;
}
.navbar ul li a:hover, 
.navbar ul li a.active{
    background-color: #fff !important;
    color: #57648C !important;
}
.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu {
    display: none;
    position: fixed;
    right: 2rem; 
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10000;
}
.dropdown_menu.open {
    height: 240px;
}
.dropdown_menu li{
    display: flex;
    align-items:center;
    justify-content: center;
}
.dropdown_menu li a:hover {
    background-color: #fff !important;
    color: #57648C !important;
}
@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    .popcorn {
        display: none;
    }
}
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
.title h1{
    font-family: 'Lucky Bones';
    font-size: 30px;
    font-weight: bold;
    color: #934A5F;
    text-align: center;
    margin: 10px 0;
    position: fixed;
    top: 5%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-shadow: -2px -2px 0 #e5e5e5, 2px -2px 0 #e5e5e5, -2px 2px 0 #e5e5e5, 2px 2px 0 #e5e5e5;
}

@media(max-width: 576px) {
    .title {
        font-family: 'Lucky Bones';
        font-size: 24px;
    }
}
.help-cont{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.help-cont .help-info{
    color: #fff;
    text-shadow: -1px -1px 0 #636363, 1px -1px 0 #636363, -1px 1px 0 #636363, 1px 1px 0 #636363;   
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 70%;
}
.help-cont .help-info h2{
    font-family: 'Lucky Bones';
    font-size: 30px;
    font-weight: bold;
    color: #934A5F;
    margin-bottom: 10px;
    text-shadow: -2px -2px 0 #e5e5e5, 2px -2px 0 #e5e5e5, -2px 2px 0 #e5e5e5, 2px 2px 0 #e5e5e5;
}
@media (max-width: 768px) {
    .help-cont .help-info {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .help-cont .help-info {
        font-size: 16px;
    }
}
