@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Lucky Bones';
    src: url('../../Luckybones-Bold.ttf') format('truetype'); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.section1 {
    min-height: 100vh;
    background-image: url('/TW-2B3MaximiucLacatus/public/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo-img {
    width: 65px;
    height: 65px; 
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown_menu ul {
    margin-top: 10px;
}
.navbar ul li,
.dropdown_menu li {
    list-style: none;
    margin-left: 20px;
    z-index: 1000;
}
.navbar ul li a,
.dropdown_menu li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    z-index: 1001;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.navbar ul li a:hover, 
.navbar ul li a.active{
    background-color: #fff !important;
    color: #57648C !important;
    text-shadow: none;
}
.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: fixed;
    right: 2rem; 
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10000;
}
.dropdown_menu.open {
    height: auto;
}
.dropdown_menu li{
    display: flex;
    align-items:center;
    justify-content: center;
}
.dropdown_menu li a:hover {
    background-color: #fff !important;
    color: #57648C !important;
}
/* RESPONSIVE NAV BAR */
@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    .popcorn {
        display: none;
    }
}
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .end {
        height: 300px;
    }
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bucket {
    position: relative;
    bottom: 0;
    top: 200px;
    width: 100%;
}

.bucket-image {
    width: 100%;
}

.popcorn {
    position: fixed;
    top: 78%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    max-width: 80%; 
    width: 10%; 
    z-index: 1000;
}
.title_search {
    position: relative;
    width: 80%;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    max-width: 700px;
    z-index: 999;
}

.title_search #text {
    font-family: 'Lucky Bones';
    color: #934A5F;
    white-space: inherit;
    font-size: 10vw;
    text-shadow: -2px -2px 0 #e5e5e5, 2px -2px 0 #e5e5e5, -2px 2px 0 #e5e5e5, 2px 2px 0 #e5e5e5;
}
.title_search .search {
    position: relative;
    display: inline-block;
    width: 100%; 
    max-width: 600px; 
}

.title_search .search .input {
    width: calc(100% - 40px); 
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px; 
    height: 100%;
    color: white;
    background-color: #934A5F; 
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn i {
    color: white;
}

.search-btn:hover {
    background-color: #958592; 
}
.title_search .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 40px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: #E5E5E5;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10000;
    cursor: pointer;
    transition: 0.3s;
}
.select:hover {
    background: #cac4c5;
}
.select-clicked {
    border: 2px ;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.categories {
    display: none;
    list-style: none;
    padding: 0.2em 0.5em;
    background: #cac4c53e;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    transition: 0.2s;
    z-index: 9999;
}
.categories li{
    padding: 0.5em 0.5em;
    margin: 0.3em 0;
    border-radius: 20px;
    cursor: pointer;
}
.categories li:hover {
    background: #cac4c5;
}
.active {
    background: #E5E5E5;
}
.categories-open {
    display: block;
    opacity: 1;
}
.about-section {
    position: absolute;
    margin-top: 35%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.about-section h2 {
    font-family: 'Lucky Bones';
    color: #934A5F;
    text-shadow: -1px -1px 0 #e5e5e5, 1px -1px 0 #e5e5e5, -1px 1px 0 #e5e5e5, 1px 1px 0 #e5e5e5;
    font-size: 2em;
    margin-bottom: 10px;
}

.about-section p {
    color: #fff;
    text-shadow: -1px -1px 0 #636363, 1px -1px 0 #636363, -1px 1px 0 #636363, 1px 1px 0 #636363;
    font-size: 1em;
    line-height: 1.5;
}
/* END */
.end {
    width: 100%;
    min-height: 200px; 
    background-color: #7C708A;
    background-size: cover;
}
